.card {
    cursor: pointer;

    width: 350px;
    height: auto;

    overflow: hidden;

    display: flex;
    align-items: center;

    background: #ffffff;
    border-radius: 20px;
    border: 2px solid #d9d6d6;

    transition: 0.1s all cubic-bezier(0.23, 1, 0.320, 1);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);   

    &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
    }

}

.content {
    width: 70%;
    height: 100%;

    padding: 20px;
}

.value {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: grey;
    color: #ffffff;


    box-shadow: inset 5px 0 10px rgba(0,0,0,.2);


    font-size: 42px;
    font-weight: 700;
}

.name {
    height: auto;

    font-size: 24px;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
        width: auto;
        height: 32px;
    }
}

.boardname {
    font-size: 18px;
    font-weight: 400;
    color: grey;
}